/* Making image full screen, setting general font, setting background image */
body {
  padding: 200px;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(
      220deg,
      rgba(127, 90, 131, 0.52),
      rgba(13, 50, 77, 0.73)
    ),
    url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
/* Special Background for Home Page (upon request from Chris) */
#specialbg{
  background-image: linear-gradient(220deg, rgba(127, 90, 131, 0.52), rgba(13, 50, 77, 0.73)), url('../images/bg2.gif');
  background-position: top;
}

/* Adding space above "Home", "List Games", "Add a Game", "Edit a Game" buttons */
.row {
  margin-top: 3vh;
}

/* Navigation Buttons */
a {
  padding: 1vh;
  background-color: rgba(127, 90, 131, 1);
  color: #fff;
  border-radius: 15px;
  text-decoration: none;
}
a.active {
  background-color: rgba(13, 50, 77, 1);
  color: #fff;
}
a:hover {
  color: rgba(13, 50, 77, 1);
}
a.active:hover {
  color: #fff;
}
nav {
  color: white;
  text-align: center;
}

/* Lining Up Headers to the Background */
header {
  text-align: center;
  color: #fff;
}
header h1 {
  filter: drop-shadow(1px 1px 1px #000);
  font-weight: 800;
  font-size: 4rem;
}

/* Add a Game Page */
form {
  width: 50%;
  margin: auto;
  color: #fff;
  text-align:center;
  margin-top: 10px;
}
.btn{
  background-color: #000;
  border: none;
}
.btn:hover{
  background-color: #000;
  border: none;
}

/* List Games Page */
.table {
  background-color: white;
  width: 50%;
  margin: auto;
  box-shadow: 5px 5px 10px black;
  text-align: center;
}

#audio{
  text-align: center;
}

#player{
  display:none;
}

#clickme{
  margin-top: 5px;
  margin: auto;
  background-color: #fff;
  border-radius: 15px;
}